:root {
    /* Font-size: */
    --headings: 5rem;
    --sub-headings: 3rem;
    --para: 1.5rem;
    --big-para: 2.5rem;
  
    /* Font-weight: */
    --fw-regular: 400;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-black: 900;
  
    /* colors */
    --backgound-clr: #fbf2ea;
    --para-clr: #002147;
    --para-clr-desaturated: #636983;
  
    /* border-radius */
    --border-radius: 0.8rem;
  
}
  
*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    margin: 0;
    padding: 0;
}
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
html {
    scroll-behavior: smooth;
}
  
body {
    font-family: Raleway, sans-serif;
    font-size: var(--para);
    background-color: var(--backgound-clr); 
    color: var(--para-clr); 
}
  
.navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--backgound-clr);
  }
  
.nav-list {
    display: flex;
    margin-right: 2rem;
}
  
ul {
    list-style: none;
}
  
.nav-list a:hover {
    cursor: pointer;
    color: var(--para-clr-desaturated);
}
  
a {
    text-decoration: none;
    font-weight: var(--fw-bold);
    color: var(--para-clr);
}
  
.nav-list a {
    display: block;
    font-size: 1.5rem;
    padding: 1.5rem;
}
  
